
:root {
    --wtp-blue: #6c9ee9;
    --wtp-orange: #e9a46c;
    --wtp-mint: #8ae5bd;
    --wtp-bodytext: #cdcdcd;
    --wtp-gray: #eee;
    --wtp-gray2: #909090;
    --wtp-gray3: #4b4b4b;
    --wtp-gray4: #858585;
    --wtp-gray5: #595959;
    --wtp-background-general: #212529;
    --wtp-background-alt: #131e25;
}


body {
    font-size: 1.2rem;
    color: var(--wtp-bodytext);
    padding-bottom: 30px;
}

a   {
    text-decoration: none;
}

.alt    {
    color: var(--wtp-orange);
}
.text-secondary {
    color: var(--wtp-gray4);/* !important;*/
}

.hidden {
    display: none;
}
.text-white-25 {
    color: rgba(255,255,255,.25)!important;
}

/*
 * Sidebar
 */

.sidebar {
    position: fixed;
    /*top: 75px;*/
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 35px 0 0; /* Height of navbar */
    background: var(--wtp-background-alt);
}

    @media (min-width: 576px)   {   .sidebar { top: 10.2rem;    }   }
    @media (min-width: 768px)   {   .sidebar { top: 6.1rem;     }   }
    @media (min-width: 992px)   {   .sidebar { top: 5rem;       }   }
    @media (min-width: 1200px)  {   .sidebar { top: 4.7rem;     }   }


.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
    font-weight: 200;
    color: var(--wtp-bodytext);
    padding: 0.4rem 1rem 0.4rem 2rem;
}

.sidebar .nav-link.active,
.sidebar .nav-link:hover {
    color: var(--wtp-mint);
    position: relative;
}
.sidebar .nav-link:hover {
    text-decoration: underline;
}
.sidebar .nav-link.active::before{
    content: '\000B7';
    position: absolute;
    left: 0.8em;
    width: 1rem;
    height: 2rem;
}

.nav-head {
    display: inline-block;
    padding: 0.5rem 1rem;
    margin-bottom: .7em;
}


/*
 * Navbar
 */

.navbar {
    background: var(--wtp-background-general);
    box-shadow: var(--wtp-background-general) 3px 3px 3px 3px;
    display: block;
}
.logo-link  {
    color: var(--wtp-gray3);
    transition: color .2s, text-shadow .2s;
    text-shadow: #0c0c0c85 1px 1px 1px;
    position: relative;
}
    .logo-link:hover  {
        color: var(--wtp-gray2) !important;
    }
    
    .iconlogo  {
        position: relative;
        top: -1px;
    }
    .brand  {
        display: inline-block;
        padding: 2px 1px 2px 1px;
    }
    @media (min-width: 576px)   {   .brand  {   padding: 2px 10px 2px 2px;   }   /*.iconlogo*/ .bi { width: 1.1em; height: 1.1em;    }   }
    @media (min-width: 768px)   {   .brand  {   padding: 2px 5px 2px 2px;    }   /*.iconlogo*/ .bi { width: 1.2em; height: 1.2em;    }   }
    @media (min-width: 992px)   {   .brand  {   padding: 2px 10px 2px 10px;  }   /*.iconlogo*/ .bi { width: 1.3em; height: 1.3em;    }   }
    @media (min-width: 1200px)  {   .brand  {   padding: 2px 10px 2px 12px;  }   /*.iconlogo*/ .bi { width: 1.3em; height: 1.3em;    }   }
    @media (min-width: 1400px)  {   .brand  {   padding: 2px 10px 2px 18px;  }   /*.iconlogo*/ .bi { width: 1.3em; height: 1.3em;    }   }


.navbar .navbar-toggler {
    top: 1rem;
    right: 1rem;
    background: var(--wtp-gray3);
    opacity: .7;
}


.appname {
    /*font-style: italic;*/
    font-weight: 700;
    text-align: center;
    float: right;
    

    color: #b95b0e;
    /*-webkit-text-stroke: 3px rgba(215, 15, 15, 0.6);*/
    /*-webkit-text-fill-color: #9d921ef7;*/
    /*text-shadow: #6ce9adc2 3px 2px 5px;*/
    
    /*-webkit-text-stroke: 2px rgb(215 209 15 / 52%);*/
    /*-webkit-text-fill-color: #9d921ef7;*/
    /*text-shadow: #6ce9adc2 3px 2px 5px;*/

    -webkit-text-fill-color: #b95b0e;
    -webkit-text-stroke: 1px rgba(15, 215, 58, 0.84);
    text-shadow: #e34134f5 3px 2px 14px, rgb(70 52 227 / 96%) -9px 5px 8px;

    font-size: 2em;
    /*font-family: 'Arvo', sans-serif;*/
    /*font-family: 'Rajdhani', sans-serif;*/
    /*font-family: 'Play', sans-serif;*/
    font-family: 'Poiret One', cursive;
    /*font-family: 'Kanit', sans-serif;*/
    /*font-family: 'Righteous', cursive;*/
}
.appversion {
    user-select: none;
    float: right;
    margin-right: 0;
    /*margin-right: 3em;*/
    /*margin-right: calc(100% - 24em);*/
    /*margin-left: calc(-100% - 24em);;*/
    /*text-shadow: #e9a46c99 2px 3px 4px;*/
    text-shadow: #e96c6c85 2px 3px 4px;
    font-family: fixedsys, serif;
}

/* tym sprobowac zrobic drop shadow, stroke czy cos. a jesli nie - dodac jeszcze jeden wrap */ 
.appname-wrap   {
    float: right;
    margin-right: 3em;
    border: 1px solid red;
    
}
@media (min-width: 992px)   {   .appname-wrap  {   margin-right: 5em;   /*margin-right: calc(100% - 19em);*/    }   }


#collection_title   {
    position: relative;
    padding-left: 1.5em;
    color: var(--wtp-bodytext);
    text-shadow: #898989a3 2px 3px 4px;
    
    font-style: italic;
}
    #collection_title::before{
        content: '\000B7';
        position: absolute;
        left: .6em;
        /*top: -0.05em;*/
        top: 0.05em;
        width: 1rem;
        height: 2rem;
        font-weight: 100;
    }

dl {
    margin-top: 2em;
}

dl dt  {
    min-width: 20%;
    margin-left: 5%;
} 
dl dd  {
    color: var(--wtp-gray4);
}
dt.list-header  {
    margin-bottom: 14px;
}
dt.list-header h5,
dt.list-header h6  {
    display: inline-block;
}


.section-header {
    margin: 1em 0 0.7em;
}
.instance-header    {
    margin: 0.4em 0 0.3em;

    text-align: center;
    text-shadow: var(--wtp-gray3) 2px 3px 4px;
}
    .instance-header.alt-A {
        color: #c04040e8;
        text-shadow: #1175836e 2px 3px 4px;
    }
    .instance-header.alt-B {
        color: #1f67d0cc;
        text-shadow: #1175836e 2px 3px 4px;
    }

.instance-header .sides {
    display: inline-block;
    padding: 0 26px;
    /*opacity: 0.5;
    text-shadow: var(--wtp-gray3) 0px 5px 3px;
    filter: drop-shadow(3px 3px 1px rgba(250, 100, 100, 80%));*/
    opacity: 0.2;
    text-shadow: #4b4b4baa 0px 2px 1px;
    filter: drop-shadow(0px 3px 3px rgba(120, 120, 120, 60%));
}
    .instance-header.alt-A .sides {
        opacity: 0.3;
        filter: drop-shadow(0px 3px 3px rgba(250, 100, 100, 60%));
    }
    .instance-header.alt-B .sides {
        opacity: 0.3;
        filter: drop-shadow(0px 3px 3px rgba(100, 100, 250, 60%));
    }



audio   {
    display: block;
    width: 100%;
    margin: 20px 0 2px;
}


audio::-webkit-media-controls-panel {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* We use flex-start here to ensure that the play button is visible even
     * if we are too small to show all controls.
     */
    justify-content: flex-start;
    -webkit-user-select: none;
    position: relative;
    width: 100%;
    z-index: 0;
    overflow: hidden;
    text-align: right;
    bottom: auto;
    /*height: 30px;*/
    background-color: rgba(250, 240, 240, 0.7);
    border-radius: 5px;
    transition: opacity 0.3s, background-color 0.3s;
}



/* bootstrap icons - for buttons etc */
.bi {
    width: 1.3em;
    height: 1.3em;
    display: inline-block;
    vertical-align: -0.32em;
}




.btn    {
    /* initial lowest values, for rwd "xxs". overridden for screens */
    margin-right: 0.5em;
    padding: .275rem .55rem;
    font-size: 0.8rem;
    line-height: 1;

    background-color: #bfc5c5;
    color: #000;
    outline: none;
    font-weight: 500;
    transition: background-color .2s, border-color .3s;
}
.btn:hover    {
    background-color: #949898;
    color: #000;
}

.btn.btn-square {
    width: 41px;    /* that keeps them square in both cases */
}


/* PLAY */
.btn#ctrl_play  {
    background-color: #188648;
    color: #1d5d39;
}
.btn#ctrl_play .bi { color: #000;  }
.playing .btn#ctrl_play  {
    background-color: #20c969;
    color: #27b063;
    box-shadow: #2d9330b3 1px 0px 13px 4px;
}
    .playing .btn#ctrl_play .bi { color: #269958;  }
    .btn#ctrl_play:hover  {
        background-color: #43ec8d;
    }
    .btn#ctrl_play:active  {
        background-color: #67eca2;
    }

/* PAUSE */
.btn#ctrl_pause  {
    background-color: #83772d;
    color: #534829;
}
.btn#ctrl_pause .bi { color: #000;  }
.paused .btn#ctrl_pause  {
    background-color: #dac34f;
    color: #b79e57;
    box-shadow: #fff4b04f 1px 0px 13px 4px;
}
    .paused .btn#ctrl_pause .bi { color: #9b7811;  }
    .btn#ctrl_pause:hover  {
        background-color: #e5d467;
    }
    .btn#ctrl_pause:active  {
        background-color: #e5d88a;
    }

/* STOP, REW, FFWD */
.btn.ctrl-momentary  {
    background-color: #898d8d;
    color: #535353;
}
.btn.ctrl-momentary .bi { color: #000;  }
    .btn.ctrl-momentary:hover  {
        background-color: #bec2c2;
    }
    .btn.ctrl-momentary:active {
        background-color: #e8e8e8;
    }


.btn.ctrl_track_mute,
.btn.ctrl_track_solo {
    font-weight: bold;
}

.btn.ctrl_track_mute:hover  {
    background-color: #49fa98;
}
.btn.ctrl_track_mute.active    {
    background-color: #28da75;
}

.btn.ctrl_track_solo:hover  {
    background-color: #e5d16b;
}
.btn.ctrl_track_solo.active    {
    background-color: #dac34f;
}









input.slider-value   {
    font-size: 1em;
    text-align: center;
    min-width: 2em;
    width: auto;
    color: #808080;
    background-color: transparent;
    border-color: transparent;
}

input.slider-value:focus   {
    box-shadow: 0 0 0 0.25rem rgba(0, 58, 145, 0.25);
    background-color: #262b31 !important;
    border-color: transparent !important;
    outline: none;
    color: #d3d3d3;
}

    .crossfader-wrap    {
        box-shadow: 1px 2px 1px 0px #080808a6;
        margin: 50px auto 40px;
        border: 1px solid #4f4f4f;
        border-radius: 3px;
        position: relative;
        top: 3.5em;
    }

.crossfader {
    border: 3px solid #181818;
    background-color: #cd5c5c7a;    /* color of the RIGHT side of the bar */
    box-shadow: inset 4px -5px 5px 0px #080808a6;
    border-radius: 3px;
    transition: filter .3s;
    cursor: e-resize;
}
    
    .crossfader:hover  {
        filter: brightness(105%);
    }

/* this element is paralell to .crossfader-wrap */
#crossfader .input-group {
    top: 2em;
}

.crossfader .fader-range   {
    background-color: #163e79ed;      /* color of the LEFT side of the bar */
    box-shadow: inset 4px -5px 5px 0px #080808a6;
}

.crossfader .fader-handle   {
    font-weight: normal;
    outline: none;
    top: -1em;
    height: 2.4em;
    width: 1.1em;
    border: 3px solid #212121;
    border-radius: 2px;
    color: #555;
    box-shadow: 3px 2px 6px 0px #080808a6;
    background-image: linear-gradient(153deg, #855b5b, #18180c);
    transition: filter .3s;
    cursor: grab;
}
    .crossfader .fader-handle .inner {
        position: absolute;
        top: 2px; left: 2px;
        width: calc(100% - 4px); height: calc(100% - 4px);
        border: 3px solid #554949;
        border-radius: 2px;
        box-shadow: inset 3px 3px 5px 0px #080808a6;
        background-image: linear-gradient(275deg, #525252, #3f3e3e);
        border-right-color: #353535;
        border-bottom-color: #3b3333;
    }

    .crossfader .fader-handle .cut    {
        height: 5px;
        border: 1px solid #0c0c0ccc;
        top: 0;
        width: 2px;
        left: calc(50% - 1px);
        position: absolute;
        box-shadow: 1px 2px 3px 2px #2727279e;
    }

.crossfader .fader-handle:active {
    cursor: grabbing;
}

.crossfader .fader-handle:hover {
    /*filter: saturate(160%);*/
    filter: brightness(105%);
}

.crossfader-wrap .scale {
    height: 3em;
    width: 100%;
    position: absolute;
    top: -3.6em;    /* offset whole wrap by this value */
}

.crossfader-wrap .scale .markline {
    position: absolute;
    bottom: 0;
    width: 1px;
    /*background-color: #333;*/
    background-color: #666;
    height: 30px;
}








.play-item  {
    margin-bottom: 20px;
    background-color: #595959;
    transition: background-color .3s, border-width .5s, opacity .3s;
    border: 1px solid #777;
}
#container-all-tracks .play-item.track-selectable    {
    background-color: #335e85;
    opacity: .9;
}
#container-all-tracks .play-item.track-selectable h3   {
    font-size: 90%;
}
#container-all-tracks .play-item.track-selectable:hover  {
    opacity: 1;
}

.play-item h3,
.play-item h4 {
	text-shadow: 2px 1px 2px #671a1ad1;
}
.play-item .controls    {
    padding-top: 10px;
}

.play-item .image   {
    width: 100%;
    height: auto;
    /*border: 1px solid #656565;*/
    border: 1px solid #777;
    filter: saturate(50%);
    transition: filter .3s;
}
    .play-item:hover .image    {
        /*filter: saturate(100%);*/
        filter: initial;
    }
    .play-item img.image[src$=".svg"],
    .play-item object.image[data$=".svg"]   {
        filter: drop-shadow(3px 3px 1px rgba(50, 50, 50, .2));
    }
    .play-item object.image  {
        fill: #ffc720;
        color: #ff0020;
    }


.play-item.state_playing    {
    /*background-color: rgba(156, 255, 156, 0.24);*/
    background-color: #4b5749eb;
}

.play-item.state_paused  {
    /*background-color: rgba(253, 201, 118, 0.21);*/
    background-color: #696552aa;
}


.play-item.dropzone  {
    background-color: #88d5ff1a;
    border-color: rgba(61, 213, 243, 0.32);
    color: rgba(158, 227, 243, 0.32);
}
.play-item.player-active  {
    box-shadow: 3px 2px 6px 0px #080808a6;
}



.state_loading    {
        /*background-color: rgba(248, 157, 255, 0.7);*/
    opacity: 0.5;
    border: 5px solid rgba(236, 60, 104, 0.7);
    animation: pulseborder 1s infinite linear;
}

@keyframes pulseborder {
    0% {
        border-top-color: rgba(250, 73, 117, 0.7);
        border-right-color: rgba(255, 131, 159, 0.7);
        border-bottom-color: rgba(255, 182, 202, 0.7);
        border-left-color: rgba(162, 93, 109, 0.7);
    }
    25% {
        border-top-color: rgba(162, 93, 109, 0.7);
        border-right-color: rgba(250, 73, 117, 0.7);
        border-bottom-color: rgba(255, 131, 159, 0.7);
        border-left-color: rgba(255, 182, 202, 0.7);
    }
    50% {
        border-top-color: rgba(255, 182, 202, 0.7);
        border-right-color: rgba(162, 93, 109, 0.7);
        border-bottom-color: rgba(250, 73, 117, 0.7);
        border-left-color: rgba(255, 131, 159, 0.7);
    }
    75% {
        border-top-color: rgba(255, 131, 159, 0.7);
        border-right-color: rgba(255, 182, 202, 0.7);
        border-bottom-color: rgba(162, 93, 109, 0.7);
        border-left-color: rgba(250, 73, 117, 0.7);
    }
    100% {
        border-top-color: rgba(250, 73, 117, 0.7);
        border-right-color: rgba(255, 131, 159, 0.7);
        border-bottom-color: rgba(255, 182, 202, 0.7);
        border-left-color: rgba(162, 93, 109, 0.7);
    }
}


#operate-panel-placeholder-pinned {
    /*position: fixed;*/
    z-index: 111;
    bottom: 0;
    background: var(--wtp-gray5);
    /*border: 1px solid red;*/
}

#seek-slider {
    width: 100%;
    cursor: pointer;
    background-color: rgba(136, 141, 141, 0.93);    /* RIGHT side of the bar */
    box-shadow: inset 4px -5px 5px 0px #080808a6;
    /*border: 1px solid yellow;*/
}
#seek-slider .progress-bar {
    background-color: rgba(92, 205, 107, 0.48);    /* LEFT side of the bar */ 
    box-shadow: inset 4px -5px 5px 0px #080808a6;
        border-radius: 0.25rem;
}



.fancy-volume   {
    background-color: grey;
    border: 1px solid #731414;
    width: 50px; height: 50px;
    /*background-image: linear-gradient(153deg, #e00, #511);*/
    /*background-image: linear-gradient(153deg, #af0909, #511717);*/
    background-image: linear-gradient(153deg, #5f2f2f, #1b0f0f);
    border-radius: 40%;
    box-shadow: 3px 2px 6px 0px #080808a6;
	cursor: n-resize;
	margin-left: auto;
}
.fancy-volume .cut  {
    border: 1px solid #bd7f12bf;
    display: inline-block;
    position: absolute;
    height: 20px;
    width: 3px;
    top: 0;
    left: 50%;
    
	box-shadow: 3px 2px 6px 0px #080808a6;
    border-radius: 3px;
}

/*.fancy-volume .shadow {

}*/

.ctrl-volume	{
}

.ctrl-volume input[type="text"],
.ctrl-volume input[type="range"]	{
	max-width: -webkit-fill-available;
}
.ctrl-volume input[type="text"]	{
	background: none;
	border: none;
	outline: none;
	caret-color: transparent;
	cursor: default;
	font-weight: bold;
	font-family: Tahoma, Arial, serif;
	font-size: 0.8em;
	width: 51px;
	color: #8d8d8d;
	text-align: center;
	margin-top: 11px;
}





.reel {
    width: 19.0em;
    height: 11em;
    position: relative;
    transition: opacity .3s;
    margin: 0.5em auto 0;
    
    
}

.reel w_roll,
.reel w_roll_shadow,
.reel w_roll_blink {
    width: 9em;
    height: 9em;
    position: absolute;
    background: no-repeat url(../../assets/images/reel.svg) 0 0;
    background-size: contain;
}
.reel .right {
    right: 0;
}

    .reel w_roll_shadow    {
        z-index: -1;
        border-radius: 50%;
        box-shadow: #080704 4px 3px 7px 2px;
        background: none;

            transition: all .9s;
    }
    .reel w_roll_blink    {
        z-index: 1;
        border-radius: 50%;
        /*width: 201px;*/
        width: 9em;
        /*height: 201px;*/
        height: 9em;
        background: linear-gradient(311deg, rgba(131,58,180,0) 0%, rgba(23,209,29,.4) 35%, rgba(253,29,29,.4) 45%, rgba(203,29,209,.5) 55%, rgba(252,176,69,0) 100%);
        opacity: .3;

            transition: all .9s;
    }
        .reel w_roll_blink.right    {
            right: -3px;
        }

.reel w_roll    {
    animation: /*rollrotatestart 1 4s ease-in-out paused,*/ rollrotate 3s infinite linear paused;
    
        transition: all 1.5s;
}

.reel.spin-playing,
.reel.spin-paused    {
    opacity: 1;
}
.reel.spin-stopped    {
    opacity: .8;
}

.reel.spin-playing w_roll    {
    /*animation: rollrotate 1s infinite linear paused;*/
    animation-play-state: running, running;
}

@keyframes rollrotate {
    from {  transform: rotate(0deg);    }
    to {    transform: rotate(360deg);  }
}
@keyframes rollrotatestart {
    from {  transform: rotate(0deg);    }
    to {    transform: rotate(360deg);  }
}

.reel .power    {
    position: absolute;
    bottom: 16px;
    width: 16px;
    height: 16px;
    background: #218557;
    background: linear-gradient(134deg, #1d6f49c2, #c97a20c9);
    border: 1px solid #88a180;
    border-radius: 50%;
    transition: box-shadow .1s, background-color .1s;
    box-shadow: #060606ad 3px 1px 5px 0px;
}
    .reel.spin-playing .power    {
        background: #20c997;
        box-shadow: #2d9330b3 1px 0px 13px 4px;
        border-color: #83e960;
    }
    .reel.spin-paused .power    {
        background: #c97a20;
        box-shadow: rgba(147, 106, 45, 0.7) 1px 0px 13px 4px;
        border-color: #e9a960;
    }


.reel .readheader    {
    position: absolute;
    bottom: 1em;
    width: 7em;
    left: calc(50% - 3.5em);
    height: 4em;
    border: 1px solid red;
}

.reel .readheader .tape    {
    
}
    .reel .readheader .tape-left    {
        
    }
    .reel .readheader .tape-right    {
        
    }
.reel .readheader .roll    {
    
}
.reel .readheader .thehead    {
    
}



/* DIGITALL */

:root {
    /*--da-line-radius: 30% 60% 30% 60%;*/
}

.digitall .symbols symbol   {
}

.timer  {
    --da-symbol-width: 1.4em;
        /* recalculate height! */
    --da-symbol-height: calc(var(--da-symbol-width) * var(--da-symbol-size-ratio));
    --da-symbol-margin: 0 0.1em;
    
    --da-el-scale: .4;
        /* recalculate boxshadow and all other using el-scale */
    --da-el-lit-boxshadow: var(--da-el-lit-boxshadow-color) calc(3px * var(--da-el-scale)) calc(5px * var(--da-el-scale)) calc(15px * var(--da-el-scale)) calc(7px * var(--da-el-scale));
    --da-el-lit-border: calc(1px  *  var(--da-el-scale)) solid var(--da-el-lit-border-color);
    
    
    margin: 0 auto;
    text-align: left;
}

.paused #time_position  {
    animation: timerpaused 2s infinite linear;
}

@keyframes timerpaused {
    0% {    opacity: 1; }
    50% {   opacity: 0; }
    100% {  opacity: 1; }
}



.dev, .bg-dark .dev    {
    display: none !important;
    border-color: #fa7d18;
    color: #fa7d18;
}

.dev-mode .dev {
    display: initial !important;
}


body.dev-mode.playing   {
    background-color: #152715 !important;
}
body.dev-mode.paused    {
    background-color: #2f2a1a !important;
}





/*audio::-webkit-media-controls-panel*/

/*audio::-webkit-media-controls-mute-button*/

/*audio::-webkit-media-controls-play-button*/
/**/
/*audio::-webkit-media-controls-timeline-container*/
/**/
/*audio::-webkit-media-controls-current-time-display*/
/**/
/*audio::-webkit-media-controls-time-remaining-display*/
/**/
/*audio::-webkit-media-controls-timeline*/
/**/
/*audio::-webkit-media-controls-volume-slider-container*/
/**/
/*audio::-webkit-media-controls-volume-slider*/
/**/
/*audio::-webkit-media-controls-seek-back-button*/
/**/
/*audio::-webkit-media-controls-seek-forward-button*/
/**/
/*audio::-webkit-media-controls-fullscreen-button*/
/**/
/*audio::-webkit-media-controls-rewind-button*/
/**/
/*audio::-webkit-media-controls-return-to-realtime-button*/
/**/
/*audio::-webkit-media-controls-toggle-closed-captions-button*/

#console    {
    position: fixed;
    z-index: 10002;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 0px;
    max-height: 0px;
    overflow-y: scroll;
    background: #222129;
    color: #ccc;
    transition: min-height .2s, max-height .2s, height .2s;
    font-size: 0.9em;
}
#console.expand {
    max-height: 70%;
    min-height: 70%;
    box-shadow: #02020291 9px 11px 9px 4px;
}
#console .item    {
    display: block;
    border-bottom: 1px solid #5d5d5d;
    margin: 0 20px;
}
#console pre.item    {
    /*font-family: "Miriam Fixed", fixedsys, console, serif;*/
}





/* RWD general - for minor stuff */


@media (min-width: 480px)   {   /* XS */
    .btn    {
        margin-right: 1em;
        line-height: 1.2;
        padding: .305rem .65rem;
        font-size: 1rem;
    }
}
@media (min-width: 576px)   {   /* SM */
    .btn    {
        margin-right: 1em;
        line-height: 1.3;
        padding: .375rem .75rem;
    }
}
@media (min-width: 768px)   {   /* MD */
    .btn    {
        margin-right: 1.4em;
        line-height: 1.5;
    }
}
@media (min-width: 992px)   {   /* LG */
    
}
@media (min-width: 1200px)  {   /* XL */
    
}
@media (min-width: 1400px)  {   /* XXL */
    
}

