
:root {
    --qc-font-size: 0.9em;
    --qc-font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    --qc-background: #222129;
    --qc-color: #ccc;
    --qc-log-color: #ccc;
    --qc-size: 30;
    --qc-offset: 44px;  /* prompt bar height */
}


.q-console    {
    position: fixed;
    z-index: 10002;
    /*top: 0;*/
    top: calc(0px - var(--qc-offset)); /* offset by prompt height */
    left: 0;
    width: 100%;
    min-height: 0;
    max-height: 0;
    transition: min-height .2s, max-height .2s, height .2s, min-width .2s, max-width .2s, width .2s, top .2s;
    background: var(--qc-background);
    font-size: var(--qc-font-size);
    font-family: var(--qc-font-family);
    color: var(--qc-color);
        /*color: attr(data-color);*/
}
    .q-console.expanded {
        max-height: calc(var(--qc-size) * 1vh);
        min-height: calc(var(--qc-size) * 1vh);
        box-shadow: #02020291 9px 11px 9px 4px;
        top: 0;
    }


/* LOG */

.q-console .log-container   {
    background: var(--qc-background);
    transition: min-height .2s, max-height .2s, height .2s, min-width .2s, max-width .2s, width .2s;
    overflow-y: hidden;
    min-height: 0;
    max-height: 0;
    padding-bottom: var(--qc-offset);
}
    .q-console.expanded .log-container   {
        overflow-y: scroll;
        max-height: calc(var(--qc-size) * 1vh);
        min-height: calc(var(--qc-size) * 1vh);
    }

    .q-console .log-container .item    {
        display: block;
        border-top: 1px solid ;
        margin: 2px 20px;
        border-top: 1px solid var(--qc-log-color);
        color: var(--qc-log-color);
    }
    .q-console .log-container .item.level-log    {
        --qc-log-color: #ccc;
    }
    .q-console .log-container .item.level-info    {
        --qc-log-color: #729eff;
    }
    .q-console .log-container .item.level-warning    {
        --qc-log-color: #bbba65;
    }
    .q-console .log-container .item.level-error    {
        --qc-log-color: #bb6572;
    }



/* CLI */

.q-console .prompt    {
    /*border: 1px solid red;*/
    border-top: 1px solid #6850b0;
    background: var(--qc-background);
    position: absolute;
    bottom: 0px;
    height: 24px;
    width: 100%;
    box-shadow: var(--qc-background) 0 -10px 20px 4px;
}

    .q-console .command-line    {
        /*border: 1px solid #0048ff;*/
        background: var(--qc-background);
        color: var(--qc-color);
        
        border: none;
        outline: none;
        padding: 0;
        margin: 0;
        
        vertical-align: top;
        display: inline-block;
        width: calc(100% - 24px - 40px);
        height: 24px;
    }

    .q-console .symbol::before {
        content: "$";
        /*border: 1px solid #0048ff;*/
        width: 24px;
        height: 24px;
        display: block;
        text-align: center;
}
    .q-console .symbol    {
        display: inline-block;
    }
