
:root {
    /*--wtp-background-alt: #131e25;*/
}



.reel {
    width: 18.4em;
    height: 11em;
    position: relative;
    transition: opacity .3s;
    margin: 0.5em auto 0;
}

.reel w_roll,
.reel w_roll_shadow,
.reel w_roll_blink {
    width: 9em;
    height: 9em;
    position: absolute;
    background: no-repeat url(../../assets/images/reel.svg) 0 0;
    background-size: contain;
}
.reel .right {
    right: 0;
}

    .reel w_roll_shadow    {
        z-index: -1;
        border-radius: 50%;
        box-shadow: #080704 4px 3px 7px 2px;
        background: none;

            transition: all .9s;
    }
    .reel w_roll_blink    {
        z-index: 1;
        border-radius: 50%;
        /*width: 201px;*/
        width: 9em;
        /*height: 201px;*/
        height: 9em;
        background: linear-gradient(311deg, rgba(131,58,180,0) 0%, rgba(23,209,29,.4) 35%, rgba(253,29,29,.4) 45%, rgba(203,29,209,.5) 55%, rgba(252,176,69,0) 100%);
        opacity: .3;

            transition: all .9s;
    }
        .reel w_roll_blink.right    {
            right: -3px;
        }

.reel w_roll    {
    animation: /*rollrotatestart 1 4s ease-in-out paused,*/ rollrotate 3s infinite linear paused;
    
        transition: all 1.5s;
}

.reel.spin-playing,
.reel.spin-paused    {
    opacity: 1;
}
.reel.spin-stopped    {
    /*opacity: .8;*/
}

.reel.spin-playing w_roll    {
    /*animation: rollrotate 1s infinite linear paused;*/
    animation-play-state: running, running;
}

@keyframes rollrotate {
    from {  transform: rotate(0deg);    }
    to {    transform: rotate(360deg);  }
}
@keyframes rollrotatestart {
    from {  transform: rotate(0deg);    }
    to {    transform: rotate(360deg);  }
}

.reel .power    {
    position: absolute;
    bottom: 16px;
    width: 16px;
    height: 16px;
    background: #218557;
    background: linear-gradient(134deg, rgb(13 81 41 / 79%), #1d6f49c2);
    border: 1px solid #88a180;
    border-radius: 50%;
    transition: box-shadow .1s, background-color .1s;
    box-shadow: #060606ad 3px 1px 5px 0px;
}
    .reel.spin-playing .power    {
        background: #20c997;
        box-shadow: #2d9330b3 1px 0px 13px 4px;
        border-color: #83e960;
    }
    .reel.spin-paused .power    {
        background: #c97a20;
        box-shadow: rgba(147, 106, 45, 0.7) 1px 0px 13px 4px;
        border-color: #e9a960;
    }


.reel .readheader    {
    position: absolute;
    bottom: 0;
    width: 8em;
    left: calc(50% - 4em);
    height: 4em;
    border: 1px solid red;
}

.reel .readheader .tape    {
    border: 1px solid #5f2f2f;
    background: #ffc720;
    width: 100%;
    height: 10px;
    position: absolute;
    bottom: 0;
}
    .reel .readheader .tape-left    {
        left: -2em;
            background: #c97a20;
    }
    .reel .readheader .tape-right    {
        right: -2em;
            background: rgba(203,29,209,.5);
    }
    .reel .readheader .middle    {
            background: #20c997;
        bottom: 0;
    }
.reel .readheader .roll    {
    
}
.reel .readheader .thehead    {
    border: 1px solid #41260f;
    background: #623b11;
    border-radius: 30% 30% 5% 5%;
    bottom: 0.1em;
    position: absolute;
    width: 80%;
    left: 10%;
    height: 2em
}


