
:root {
    /*--wtp-background-alt: #131e25;*/
}



.reel {
    width: 18.4em;
    height: 11em;
    position: relative;
    transition: opacity .3s;
    margin: .5em auto 0;
}

.reel w_roll,
.reel w_roll_shadow,
.reel w_roll_blink {
    width: 9em;
    height: 9em;
    position: absolute;
    background: no-repeat url(../../assets/images/reel.svg) 0 0;
    background-size: contain;
}
.reel .right {
    right: 0;
}

    .reel w_roll_shadow    {
        z-index: -1;
        border-radius: 50%;
        box-shadow: .25rem  .19rem  .44rem  .125rem  #080704;
        background: none;

            transition: all .9s;
    }
    .reel w_roll_blink    {
        z-index: 1;
        border-radius: 50%;
        width: 9em;
        height: 9em;
        background: linear-gradient(311deg, 
            rgba(131,58,180,0) 0%,
            rgba(23,209,29,.4) 35%,
            rgba(253,29,29,.4) 45%,
            rgba(203,29,209,.5) 55%,
            rgba(252,176,69,0) 100%);
        opacity: .3;

            transition: all .9s;
    }
        .reel w_roll_blink.right    {
            right: -.19rem;
        }

.reel w_roll    {
    animation: /*rollrotatestart 1 4s ease-in-out paused,*/ rollrotate 3s infinite linear paused;
    
        transition: all 1.5s;
}

.reel.spin-playing,
.reel.spin-paused    {
    /*opacity: 1;*/
}
.reel.spin-stopped    {
    /*opacity: .8;*/
}

.reel.spin-playing w_roll    {
    /*animation: rollrotate 1s infinite linear paused;*/
    animation-play-state: running, running;
}

@keyframes rollrotate {
    from {  transform: rotate(0deg);    }
    to {    transform: rotate(360deg);  }
}
@keyframes rollrotatestart {
    from {  transform: rotate(0deg);    }
    to {    transform: rotate(360deg);  }
}

.reel .power    {
    position: absolute;
    bottom: 1rem;
    width: 1rem;
    height: 1rem;
    background: #218557;
    background: linear-gradient(134deg, rgb(13 81 41 / 79%), #1d6f49c2);
    border: .06rem solid #88a180;
    border-radius: 50%;
    transition: box-shadow .1s, background-color .1s;
    box-shadow: .19rem  .06rem  .31rem  0  #060606ad;
}
    .reel.spin-playing .power    {
        background: #20c997;
        box-shadow: #2d9330b3 .06rem  0 .81rem  .25rem;
        border-color: #83e960;
    }
    .reel.spin-paused .power    {
        background: #c97a20;
        box-shadow: .06rem  0  .81rem  .25rem  rgba(147, 106, 45, .7);
        border-color: #e9a960;
    }


.reel .readheader    {
    position: absolute;
    bottom: 0;
    width: 8em;
    left: calc(50% - 4em);
    height: 4em;
    /*border: 1px solid red;*/
}

.reel .readheader .tape    {
    border: 0 solid #41300d;
    border-width: .063rem 0;
    background: #2f2510;
    box-shadow: #060606a1  .125rem  .125rem  0  .125rem;
    width: 5em;
    height: .1em;
    position: absolute;
    z-index: -5;
    bottom: 0;
}
    .reel .readheader .tape-left    {
        left: -3.20em;
        bottom: 2.3em;
        transform: rotate(30deg);
    }
    .reel .readheader .tape-right    {
        right: -2.92em;
        bottom: 2.55em;
        transform: rotate(-40deg);
    }
    .reel .readheader .tape-middle    {
        bottom: 1em;
        left: calc(50% - 2.5em);
    }
.reel .readheader .roll    {
    
}
.reel .readheader .thehead    {
    border: .06rem solid #41260f;
    background: #623b11;
    box-shadow: inset rgb(147 106 45 / 70%)  .19rem  .31rem  .31rem  0;
    border-radius: 30% 30%  5% 5%;
    bottom: .1em;
    position: absolute;
    z-index: -10;
    width: 80%;
    left: 10%;
    height: 2em;
}


.high-contrast .reel .readheader    {
    /*border-color: red;*/
}
.high-contrast .reel .readheader .tape    {
    border-color: #5f2f2f;
    background: #ffc720;
}
.high-contrast .reel .readheader .tape-left    {
    background: #f38d21;
}
.high-contrast .reel .readheader .tape-right    {
    background: rgba(203,29,209, 1);
}
.high-contrast .reel .readheader .middle    {
    background: #20c997;
}
.high-contrast .reel .readheader .thehead {
    background: #854e15;
}
