
:root {
    /* scale factor */
    --vc-size: 1;
    /* dimensions */
    --vc-width: 2.4em;
    --vc-height: 2.4em;
}


volume, manipulator, scale, knob, rondo, turn, pointer    {
    display: block;
}
manipulator {
}

.volume-rotarypot {
    width: 2.2em;
    min-height: 2.2em;
    position: relative;
}
    .volume-rotarypot scale  {
        position: absolute;
        top: 0;
        left: calc(50% - 1em);
        width: 2.4em;
        height: 2.4em;
        background-color: #ffc720;
        border-radius: 50%;
    }
    .volume-rotarypot knob   {
        position: absolute;
        top: calc(50% - 0.9em); /* I don't really understand now why these differs */
        left: calc(50% - 0.8em); /* offset by: half of (twice difference between Knob and Knob-Turn) */
        width: 2em;
        height: 2em;

        background: transparent;
        border-radius: 49%; /* draw it slightly misshapen, to add some naturals */
        box-shadow: 3px 2px 6px 0px #080808a6;

        cursor: n-resize;
    }

        .volume-rotarypot knob rondo  {
                /*border: 1px solid pink;*/
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
                /*background-image: linear-gradient(153deg, #5f2f2f 45%, #1b0f0f 55%);*/
            background-image: linear-gradient(155deg, #5f2f2f 25%, #1b0f0f 75%);
            border-radius: 49%;
        }
        .volume-rotarypot knob turn  {
            /*border: 1px solid #1b0f0fa8;*/
            border: 1px solid rgba(110, 54, 54, 0.66);
                /*border: 1px solid blue;*/
            position: absolute;
            top: 0.4em; /* offset by: half of (difference between Knob and Knob-Turn) */
            left: 0.4em;
            width: 1.2em;
            height: 1.2em;

                /*background-image: linear-gradient(155deg, #1b0f0f 45%, #5f2f2f 55%);*/
            background-image: linear-gradient(155deg, #1b0f0f 25%, #5f2f2f 75%);
            border-radius: 35%;
            box-shadow: 3px 2px 6px 0px #080808a6;
        }
        .volume-rotarypot knob pointer  {
            
        }
        .volume-rotarypot knob turn pointer {
            border: 1px solid #bd7f12bf;
            display: inline-block;
            position: absolute;
            height: 0.5em;
            width: 0.05em;
            top: -1px;
            left: calc(50% - 0.025em);

            box-shadow: 3px 2px 6px 0px #080808a6;
            border-radius: 3px;
        }

